# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
*.mp4
*.ogv
*.wmv
*.webm
*.mov
*.avi
*.mp3
*.wav
*.ogg
*.psd
Thumbs.db
.cordova/
hooks/
platforms/
plugins/
/Android/.metadata/
/Android/.metadata/*
/Android/.recommenders/
/Android/.recommenders/*
/Android/appcompat_v7/
/Android/appcompat_v7/*
/Android/Ejercicios_Java/bin/*
/Android/HelloWorld/
/Android/HelloWorld/*
/Android/Layouts/bin/*
/Android/Layouts/gen/*
/Android/OrientationTest/bin/*
/Android/OrientationTest/gen/*
/Android/Test/bin/*
/Android/Test/gen/*
/Android/TO-DO List with fragments/bin/*
/Android/TO-DO List with fragments/gen/*
/Android/TO-DOList/bin/*
/Android/TO-DOList/gen/*
