* {box-sizing: border-box;}

body {
    padding: 5%;
    background-color: #f2f2f2;
}

.header {
    width: 90%;
    min-width: 400px;
    margin: 0 5%;
    padding: 10px;
    background-color: white;
}

.header h1, h2 {margin: 0;}
.header h1 {font-size: 4em;}
.header span {color: red; font-size: 1.2em;}

h1, h2 {text-align: center;}
h3 {text-transform: uppercase;}

.featured, .footer {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border: 20px solid lightgray;
    border-radius: 10px;
}

.featured a {
    border-right: 2px solid black;
    padding: 0 1em;
}

.featured > a:first-child {padding-left: 0;}
.featured > a:last-child {padding-right: 0; border: none;}

.wrapper {height: 620px;}

.news {
    padding: 0 50px;
    margin-top: 20px;
    height: 600px;
    width: 86%;
    background-color: white;
}

.news > div {
    padding: 20px 0 20px 0;
    border-bottom: 4px solid black;
}

.news h3 {font-size: 2em;}

.news:last-child {border: none;}

.menu, .ads {
    width: 13%;
    min-width: 190px;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid darkgrey;
}

.ads {
    height: 66%;
    max-height: 415px;
}

.footer {
    margin: 20px 0;
    text-align: right;
}

ul {list-style: none;}
li {margin-top: 5px;}
li:first-child {margin: 0;}

.links {
    color: darkorange;
    font-weight: bold;
}

.pics {margin-right: 20px;}

.imagefooter {
    font-size: 0.75em;
    border-bottom: 1px solid black;
}

.hidden{display: none;}
.border{border: 1px solid black;}
.fleft{float: left;}
.fright{float: right;}
.ovf-hide{overflow: hidden;}
.ovf-scroll{overflow: auto;}
.block{display: block;}
.inline{display: inline;}
