div {
/*    display: inline;*/
    background-color: black;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 10px;
}

.a {border-bottom-right-radius: 100px;}
.b {border-bottom-right-radius: 50% 33%;}
.c {border-bottom-right-radius: 20% 75%;}
.d {border-radius: 50px 33% 50px 50% / 50px 75% 50px 75%;}
.e {border-radius: 15% 25% 25% 15% / 25% 15% 15% 25%;}
.f {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
